html{
  overflow-x: hidden;
  background-color: black;
}
*{
  text-decoration: none;
}
body{
  max-width: max-content;
  margin: auto;
  font-size: 25px;
  color: white;
}
body p{
  margin: 25px;
  font-family: garamond;
}
img{
  max-width: 25vw;
  max-height: auto;
}
footer{
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.photo-section{
  max-width: 100vw;
  display: flex;
}
.reel-section{
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
.arrow {
  position: fixed;
  bottom: 0;
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: #f1f1f1;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  cursor: default;
}
#background-video {
  position: static;
  min-width: 100vw;
  min-height: 100vh;
}
