*{
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: Arial;

  overflow: hidden;

  scroll-behavior: smooth;
}
body{
  display: inline-block;

  background-color: #071013;

  color: white;
}
